@use 'assets/styles/variables';

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    display: block;
    width: 1.75em;
    height: 1.75em;
    content: ' ';

    border-radius: 50%;
    border: 4px solid variables.$dark-grey;
    border-top: 4px solid variables.$dover-gray;

    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
