@use 'assets/styles/variables';

.facts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4rem;

  padding: 2.5rem 7.5rem 7.5rem 7.5rem;

  background-color: variables.$black;

  .facts-section__title {
    text-align: center;

    font-family: var(--font-aldrich);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .facts-section__facts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}
