@use 'assets/styles/variables';

.facts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4rem;
  max-width: 1920px;
  margin: 0 auto;
  padding: 5rem 9.75rem;

  background-color: variables.$black;
  color: variables.$white;

  @media (max-width: 1580px) {
    padding: 5rem 4rem;
  }

  &__title {
    text-align: center;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  &__facts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }

  @media (max-width: 1200px) {
    padding: 5rem 4rem;

    &__facts {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  @media (max-width: 992px) {
    padding: 4rem 2rem;
    gap: 3rem;

    &__facts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8rem 2rem;
    }
  }

  @media (max-width: 760px) {
    background-color: variables.$mobile-body-bg;

    justify-content: flex-start;
    align-items: flex-start;

    padding: 3.5rem 1rem 0 1rem;

    &__title {
      margin-bottom: 2rem;

      text-align: left;
      font-weight: 700;
      font-size: 32px;
      line-height: 1.3;
      color: variables.$spanish-gold;

      text-transform: uppercase;
    }

    &__facts {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  }
}
