@use 'assets/styles/variables';

.contact-btn {
  padding: 1rem 1.5rem;

  background-color: variables.$spanish-gold;
  font-size: 16px;

  cursor: pointer;
  &:hover {
    filter: brightness(1.1);
  }
}
