@use 'assets/styles/variables';

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;

  text-align: center;

  background-color: variables.$spanish-gold;
  font-size: 16px;
  font-family: var(--font-aldrich);

  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }

  @media (max-width: 768px) {
    min-width: 280px;
    height: 48px;
  }
}
