@use 'assets/styles/variables';

.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
  padding: 0;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 3rem;
  }

  .menu__link {
    font-family: var(--font-aldrich);
    text-transform: capitalize;
    transition: transform 0.2s ease;

    a {
      display: inline-block;
      text-decoration: none;
      color: variables.$white;
      font-size: 18px;
      transition: color 0.3s ease;

      &:hover {
        color: variables.$spanish-gold;
      }
    }

    &.active a {
      color: variables.$spanish-gold;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .menu__link--btn {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 1024px) {
      width: auto;
    }

    button {
      min-width: 257px;
      height: 54px;
      text-transform: none;

      @media (max-width: 1023px) {
        font-size: 18px;
      }
    }
  }
}
