@use 'assets/styles/variables';

.service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  max-width: 350px;
  border-right: 1px solid variables.$light-grey;
  padding-right: 4rem;
  padding-left: 2rem;
  z-index: 1;
  &:last-of-type {
    border-right: none;
  }

  &__icon-wrapper {
    margin-bottom: 2.5rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: variables.$black;
    margin-bottom: 1.25rem;
    line-height: 1.2;
  }

  &__description {
    font-size: 15px;
    line-height: 1.7;
    color: variables.$black;
    font-weight: 300;
  }
}
