@use 'assets/styles/variables';

.service-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 4rem 1rem 2rem;
  max-width: 350px;

  text-align: center;
  border-right: 1px solid variables.$light-grey;

  z-index: 1;

  &:last-of-type {
    border-right: none;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2.5rem;
    height: 100px;
  }

  &__icon {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    margin-bottom: 1.25rem;

    font-size: 24px;
    font-weight: 600;
    color: variables.$black;
    line-height: 1.2;
  }

  &__description {
    font-size: 15px;
    line-height: 1.7;
    color: variables.$black;
    font-weight: 300;
  }

  @media (max-width: 768px) {
    position: relative;
    padding: 2rem 0 2rem 5rem;

    max-width: unset;
    justify-content: flex-start;
    align-items: flex-start;

    border-right: 0;
    border-bottom: 1px solid variables.$light-grey;

    &:last-of-type {
      border-bottom: none;
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: 64px;
    }

    &__icon-wrapper {
      height: unset;
      margin: 0;
    }

    &__title {
      margin-bottom: 1rem;
      text-align: left;

      font-weight: 700;
      font-size: 18px;
      line-height: 1.4;
    }

    &__description {
      text-align: left;

      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
