@use 'assets/styles/variables';

.contact-section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 4rem;
  margin: 0 auto;
  padding: 5rem 0 0 9.75rem;
  max-width: 1920px;

  background-color: variables.$light-bg;

  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    background: variables.$light-bg;
    z-index: -1;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 5rem;
    padding-top: 4rem;

    max-width: 520px;
  }

  &__right {
    position: relative;
    flex: 1;
    padding: 60px;

    background: variables.$white;

    @media (max-width: 1280px) {
      padding: 2rem 1rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: variables.$white;
      z-index: -1;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    color: variables.$grey-title;
  }

  &__subtitle {
    position: relative;
    padding-bottom: 24px;

    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    color: variables.$black;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 1px;
      background-color: #d1d1d1;
    }
  }

  &__company-info {
    position: relative;
    padding-bottom: 24px;

    font-size: 18px;
    line-height: 1.6;
    color: variables.$black;

    p {
      margin: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 1px;
      background-color: #d1d1d1;
    }
  }

  &__company-name {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px !important;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  &__link-card {
    display: flex;
    align-items: center;
    padding: 2rem;

    height: 80px;

    color: variables.$black;
    background: variables.$white;
    border-bottom: 1px solid #f0f0f0;

    transition: background-color 0.3s ease;
    text-decoration: none;
    box-sizing: border-box;

    &:hover {
      background-color: #fafafa;

      .contact-section__link-arrow {
        transform: translateX(5px);
      }
    }
  }

  &__link-icon {
    margin-right: 20px;
    font-size: 40px;
    color: variables.$spanish-gold;
  }

  &__link-text {
    font-family: var(--font-aldrich);
    font-weight: 400;
    font-size: 18px;
    flex-grow: 1;
  }

  &__link-arrow {
    font-size: 20px;
    color: variables.$spanish-gold;
    transition: transform 0.3s ease;
  }

  @media (max-width: 1440px) {
    padding: 5rem 4rem 0 4rem;

    &__left {
      padding-right: 0;
      max-width: 400px;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem 0 2rem;

    &__left {
      max-width: 100%;
      padding-right: 0;
      padding-top: 0;
    }

    &__right {
      width: 100%;
      padding: 40px;

      &::after {
        left: -2rem;
        width: calc(100% + 4rem);
      }
    }
  }

  @media (max-width: 768px) {
    padding: 3rem 1rem 0 1rem;

    &__title {
      order: 1;
      font-size: 32px;
      line-height: 1.2;
    }

    &__subtitle {
      order: 2;
      padding-bottom: 0.5rem;
      font-size: 24px;
      line-height: 1.4;

      &::after {
        display: none;
      }
    }

    &__company-info {
      order: 4;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding-top: 3rem;

      &::after {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 120px;
        height: 4px;
        background-color: #dddddd;
      }

      .contact-section__company-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        text-align: center;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
      }
    }

    &__links {
      order: 3;
      padding-bottom: 1rem;
    }

    &__link-card {
      position: relative;
      padding: 0.5rem 1.5rem;

      height: auto;
      min-height: 70px;
    }

    &__link-icon {
      font-size: 26px;
      img {
        width: 26px;
        height: auto;
      }
    }

    &__link-text {
      font-size: 16px;
    }

    &__right {
      padding: 1.5rem 0;

      &::after {
        left: -1.5rem;
        width: calc(100% + 3rem);
      }
    }
  }
}
