@use 'assets/styles/variables';

.btn {
  width: 100%;
  padding: 1.5rem 3rem;

  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.44px;

  border-radius: 4px;
  background-color: variables.$spanish-gold;
  color: variables.$white;

  border: none;
  outline: none;

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}
