@use 'assets/styles/variables';

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 3.75rem 5rem;

  width: 100%;
  max-width: 1064px;

  background: variables.$white;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: variables.$grey-title;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 1rem;

    .contact-form__button {
      font-weight: 400;
      font-size: 18px;
      line-height: 1;
      letter-spacing: 2%;
      font-family: var(--font-aldrich);
      &:hover {
        filter: brightness(1.1);
      }
    }

    .footer__icon {
      width: 60px;
      height: 60px;
      transform: translateX(-5px);
      flex-shrink: 0;
    }
  }

  // --- RESPONSIVE STYLES ---

  @media (max-width: 1024px) {
    padding: 3rem;
    gap: 2.5rem;

    &__title {
      font-size: 36px;
    }
  }

  @media (max-width: 768px) {
    padding: 2rem 0;
    gap: 2rem;

    &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 1.2;
      text-align: left;
    }

    &__footer {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: 1.5rem;

      .contact-form__button {
        width: 100%;
      }

      .footer__icon {
        transform: none;
      }
    }
  }
}
