@use 'assets/styles/variables';

.whoweare-section {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 148px;
  padding: 0 9.75rem;
  margin: 6rem auto;

  max-width: 1920px;
  background-color: variables.$black;

  &__left-col {
    display: flex;
    flex-direction: column;

    gap: 5rem;
    flex: 1;
    max-width: 960px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__right-col {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    gap: 48px;
    width: 656px;

    .header__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.15;
      color: variables.$spanish-gold;

      text-transform: uppercase;
    }

    .header__subtitle {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.4;
      color: variables.$white;
    }

    .header__desc {
      font-size: 16px;
      line-height: 1.5;
      color: variables.$brainstem-grey;
    }
  }

  @media (max-width: 1440px) {
    gap: 80px;
    padding: 0 4rem;

    &__right-col {
      width: 50%;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 4rem;
    padding: 6rem 2rem;
    margin: 0 auto;

    &__left-col {
      width: 100%;
      order: 2;
      gap: 2rem;
    }

    &__right-col {
      width: 100%;
      order: 1;
      gap: 24px;
      align-items: center;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    padding: 5rem 1rem 4rem 1rem;
    background-color: variables.$mobile-body-bg;

    &__left-col {
      img {
        margin: 0 -1rem;
        width: calc(100% + 2rem);
      }
    }

    &__right-col {
      justify-content: flex-start;
      align-items: flex-start;

      .header__title {
        font-size: 32px;
        margin-bottom: 1rem;
        text-align: left;
      }

      .header__subtitle {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
      }

      .header__desc {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
      }
    }
  }
}
