$black: #020202;
$white: #ffffff;

$dark-grey: #2d2d2d;
$dover-gray: #848484;
$grey-title: #5b5b5b;
$light-grey: #cecece;
$brainstem-grey: #b4b4b4;
$lighthouse: #f4f4f4;
$light-bg: #e4e4e4;

$spanish-gold: #b29850;

$bg-img: url('../../../assets/images/hero-img.png');
